# URL oficial de tu proyecto en Supabase (ej. https://xxxxxx.supabase.co)
VITE_SUPABASE_URL=

# Clave pública anónima (Anon Key) de tu proyecto en Supabase (ej. eyJhbGciOiJIUzI1NiIsIn...)
VITE_SUPABASE_ANON_KEY=
